.root {
  display: flex;
  padding: var(--spacing-4, 4px) var(--spacing-8, 8px);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-brand-secondary-red, #b71234);
  background: var(--color-brand-secondary-red, #b71234);
  color: var(--color-brand-white, #fff);
  text-align: center;
  /* Exo Bold/16px */
  font-family: var(--font-family-exo, Exo);
  font-size: var(--text-heading-size-sm, 16px);
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--text-heading-size-sm, 16px); /* 100% */
  letter-spacing: var(--letter-spacing-tighter, 0px);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  &:hover, &.active {
    background-color: #ffffff;
    color: var(--color-brand-secondary-red);
  }
}
