@import '../../../../index.scss';

.root {
  display: flex;
  padding: var(--spacing-16, 16px);
  flex-direction: column;
  gap: var(--spacing-24, 24px);
  background: var(--color-brand-grey-light);

  @media only screen and (min-width: $screen-width-500) {
    flex-direction: row;
  }
}
.heading {
  color: var(--color-brand-primary-red, #6e0b1f);
  /* Exo Bold/24px */
  font-family: var(--font-family-exo, Exo);
  font-size: var(--text-heading-size-xl, 24px);
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--text-heading-line-height-xl, 32px); /* 133.333% */
  letter-spacing: var(--letter-spacing-tighter, 0px);
}
.subheading {
  color: var(--color-brand-accent-blue, #002e47);

  /* Exo Bold/20px */
  font-family: var(--font-family-exo, Exo);
  font-size: var(--text-heading-size-lg, 20px);
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--text-heading-line-height-lg, 24px); /* 120% */
  letter-spacing: var(--letter-spacing-tighter, 0px);
}
.paragraph {
  color: var(--text-body-copy, #3a3b3d);

  /* Raleway Regular/16px */
  font-family: var(--font-family-raleway, Raleway);
  font-size: var(--text-body-size-md, 16px);
  font-style: normal;
  font-weight: var(--font-weight-regular, 500);
  line-height: var(--text-body-line-height-md, 24px); /* 150% */
  letter-spacing: var(--letter-spacing-tighter, 0px);
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-8);
  align-self: stretch;
}
.left-column {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-16);

  [data-el='button-grid'] {
    display: none;
  }

  @media only screen and (min-width: $screen-width-500) {
    width: 214px;

    [data-el='button-grid'] {
      display: flex;
    }
    //max-width: 220px;
    //flex-shrink: 0;;min-width:2px;;min-width:21px;;min-width:214px;;min-width:2px;;min-width:21px;;min-width:214px;
  }
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16) 1rem;

  [data-el='button-grid'] {
    display: flex;
  }

  @media only screen and (min-width: $screen-width-500) {
    flex: 1;
    [data-el='button-grid'] {
      display: none;
    }
  }
}
.region-stat-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--spacing-16);

  @media only screen and (min-width: $screen-width-500) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--spacing-16);
  }

  @media only screen and (min-width: $screen-width-600) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--spacing-16);
  }
  width: 100%;
}
