.root {
  padding-top: var(--spacing-16);
  padding-right: var(--spacing-16);
  padding-bottom: var(--spacing-16);
  padding-left: var(--spacing-16);
  background: var(--color-brand-grey-light);
  display: flex;
  column-gap: var(--spacing-24);
}
.heading {
  color: var(--text-colour-heading-text-brand, #6e0b1f);

  /* Exo Bold/32px */
  font-family: var(--font-family-exo, Exo);
  font-size: var(--text-heading-size-2xl, 32px);
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--text-heading-line-height-2xl, 40px); /* 125% */
  letter-spacing: var(--letter-spacing-tighter, 0px);
}
.left-column {
  display: flex;
  flex-direction: column;
  column-gap: var(--spacing-24);
  row-gap: var(--spacing-16);
  max-width: 325px;
}
.paragraph {
  color: var(--text-colour-text-primary, #3a3b3d);

  /* Raleway Regular/16px */
  font-family: var(--font-family-raleway, Raleway);
  font-size: var(--text-body-size-md, 16px);
  font-style: normal;
  font-weight: var(--font-weight-regular, 500);
  line-height: var(--text-body-line-height-md, 24px); /* 150% */
  letter-spacing: var(--letter-spacing-tighter, 0px);
}
.content {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-8);
}
.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.stats-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: var(--spacing-8);
  column-gap: var(--spacing-8);
}
.region-stat {
  aspect-ratio: 16/9;
  display: flex;
  padding: var(--spacing-8, 8px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-4, 4px);
  border: 1px solid var(--color-brand-accent-blue, #002e47);
  background: var(--color-brand-grey-mid-light, #c1c2c3);
}
.region-stat-heading {
  color: var(--color-brand-black, #000);
  text-align: center;

  /* Raleway Bold/14px */
  font-family: var(--font-family-raleway, Raleway);
  font-size: var(--text-body-size-sm, 14px);
  font-style: normal;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--text-body-line-height-sm, 16px); /* 114.286% */
  letter-spacing: var(--letter-spacing-tighter, 0px);
}
.region-stat-value {
  color: var(--color-brand-black, #000);
  text-align: center;

  /* Exo Regular/16px */
  font-family: var(--font-family-exo, Exo);
  font-size: var(--text-body-size-md, 16px);
  font-style: normal;
  font-weight: var(--font-weight-regular, 500);
  line-height: var(--text-body-line-height-md, 24px); /* 150% */
  letter-spacing: var(--letter-spacing-tighter, 0px);
}
