@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

/* TheCover Units */
:root {

    /* number */
    --spacing-0: 0rem;
    --spacing-4: 0.25rem;
    --spacing-8: 0.5rem;
    --spacing-16: 1rem;
    --spacing-24: 1.5rem;
    --spacing-32: 2rem;
    --spacing-40: 2.5rem;
    --spacing-48: 3rem;
    --spacing-56: 3.5rem;
    --spacing-64: 4rem;
    --spacing-72: 4.5rem;
}

$screen-width-400: 25rem;
$screen-width-600: 45.5rem;
$screen-width-1024: 64rem;
$screen-width-1440: 25rem;

/* TheCover Colours */
:root {
    /* Live */
    /* color */
    --color-3-additional-spacing-block-fill: hsl(0 0 100% / 0);
    --color-brand-accent-blue: hsl(201 100% 14%);
    --color-brand-black: hsl(0 0 0%);
    --color-brand-grey-dark: hsl(220 3% 23%);
    --color-brand-grey-light: hsl(180 2% 88%);
    --color-brand-grey-mid-light: hsl(210 2% 76%);
    --color-brand-navy: hsl(201 100% 24%);
    --color-brand-primary-red: hsl(348 82% 24%);
    --color-brand-secondary-red: hsl(348 82% 39%);
    --color-brand-white: hsl(0 0 100%);
    --color-data-green: hsl(80 100% 36%);
    --color-data-purple: hsl(286 56% 33%);
    --color-data-turquoise: hsl(184 100% 33%);
}

/* Typography Variables */

:root {
    --font-weight-regular: 500;
    --font-weight-bold: 700;
    --font-family-exo: exo;
    --font-family-raleway: Raleway;
}

:root {
    /* Small screen */
    /* number */
    --blockquote-line-height-default: 1rem;
    --blockquote-size-default: 1.5rem;
    --letter-spacing-tighter: 0rem;
    --paragraph-indent-none: 0rem;
    --paragraph-spacing-none: 0rem;
    --text-body-line-height-md: 1rem;
    --text-body-line-height-sm: 1rem;
    --text-body-line-height-xs: 1rem;
    --text-body-line-height-lg: 1.5rem;
    --text-body-line-height-xl: 1.5rem;
    --text-body-line-height-2xl: 2rem;
    --text-body-line-height-3xl: 2.5rem;
    --text-body-line-height-4xl: 3.125rem;
    --text-body-line-height-5xl: 4.5rem;
    --text-body-size-sm: 0.75rem;
    --text-body-size-xs: 0.75rem;
    --text-body-size-md: 0.875rem;
    --text-body-size-lg: 1rem;
    --text-body-size-xl: 1.25rem;
    --text-body-size-2xl: 1.5rem;
    --text-body-size-3xl: 2rem;
    --text-body-size-4xl: 2.625rem;
    --text-body-size-5xl: 3.5rem;
    --text-heading-line-height-lg: 1.5rem;
    --text-heading-line-height-sm: 1.5rem;
    --text-heading-line-height-xl: 1.5rem;
    --text-heading-line-height-2xl: 2rem;
    --text-heading-line-height-3xl: 2.5rem;
    --text-heading-line-height-4xl: 3.125rem;
    --text-heading-line-height-5xl: 4.5rem;
    --text-heading-size-lg: 1rem;
    --text-heading-size-sm: 1rem;
    --text-heading-size-xl: 1.25rem;
    --text-heading-size-2xl: 1.5rem;
    --text-heading-size-3xl: 2rem;
    --text-heading-size-4xl: 2.625rem;
    --text-heading-size-5xl: 3.5rem;
}

@media (min-width: $screen-width-400) {
    :root {
        /* Regular screen */
        /* number */
        --blockquote-line-height-default: 3.125rem;
        --blockquote-size-default: 2.625rem;
        --letter-spacing-tighter: 0rem;
        --paragraph-indent-none: 0rem;
        --paragraph-spacing-none: 0rem;
        --text-body-line-height-sm: 1rem;
        --text-body-line-height-xs: 1rem;
        --text-body-line-height-lg: 1.5rem;
        --text-body-line-height-md: 1.5rem;
        --text-body-line-height-xl: 2rem;
        --text-body-line-height-2xl: 2.5rem;
        --text-body-line-height-3xl: 3.125rem;
        --text-body-line-height-4xl: 4.5rem;
        --text-body-line-height-5xl: 5.5rem;
        --text-body-size-xs: 0.75rem;
        --text-body-size-sm: 0.875rem;
        --text-body-size-md: 1rem;
        --text-body-size-lg: 1.25rem;
        --text-body-size-xl: 1.5rem;
        --text-body-size-2xl: 2rem;
        --text-body-size-3xl: 2.625rem;
        --text-body-size-4xl: 3.5rem;
        --text-body-size-5xl: 4.5rem;
        --text-heading-line-height-lg: 1.5rem;
        --text-heading-line-height-sm: 1.5rem;
        --text-heading-line-height-xl: 2rem;
        --text-heading-line-height-2xl: 2.5rem;
        --text-heading-line-height-3xl: 3.125rem;
        --text-heading-line-height-4xl: 4.5rem;
        --text-heading-line-height-5xl: 5.5rem;
        --text-heading-size-sm: 1rem;
        --text-heading-size-lg: 1.25rem;
        --text-heading-size-xl: 1.5rem;
        --text-heading-size-2xl: 2rem;
        --text-heading-size-3xl: 2.625rem;
        --text-heading-size-4xl: 3.5rem;
        --text-heading-size-5xl: 4.5rem;
    }
}

